.input>input {
    width: 100%;
    border: none;
    border-radius: 0;
    color: #262626;
    border-bottom: 1px solid #eee;
    font-weight: normal;
    font-size: 1rem;
    -webkit-appearance: none; /* for box shadows to show on iOS */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
    padding: 0;
    height: 100%;
    text-align: left;
}
.input>input:focus {
    outline: none;
    border-bottom: 1px solid #673ab7;
}